<div id="c-menu--push-left" class="c-menu c-menu--push-left">
		<button class="c-menu__close">&larr; Close Menu</button>
		      	<div class="categ">
		    		<a href="Product_Page.html"><img src="images/category1.png">
		    		<h3>ice cream cake<br><span>229 item</span></h3></a>
		    	</div>
		    	<div class="categ">
		    		<a href="Product_Page.html"><img src="images/category2.png">
		    		<h3>donut cream<br><span>229 item</span></h3></a>
		    	</div>
		    	<div class="categ">
		    		<a href="Product_Page.html"><img src="images/category3.png">
		    		<h3>bread<br><span>229 item</span></h3></a>
		    	</div>
		    	<div class="categ">
		    		<a href="Product_Page.html"><img src="images/category4.png">
		    		<h3>bakery<br><span>229 item</span></h3></a>
		    	</div>
		    	<div class="categ">
		    		<a href="Product_Page.html"><img src="images/category5.png">
		    		<h3>coffee<br><span>229 item</span></h3></a>
		    	</div>
</div><!-- /c-menu push-left -->
   		<div id="c-mask" class="c-mask"></div>

		<!-- menus script -->
<script>

  /**
   * Push left instantiation and action.
		   */
		  var pushLeft = new Menu({
		    wrapper: '#wrapper',
		    type: 'push-left',
		    menuOpenerClass: '.c-button',
		    maskId: '#c-mask'
		  });

		  var pushLeftBtn = document.querySelector('#c-button--push-left');
		  
		  pushLeftBtn.addEventListener('click', function(e) {
		    e.preventDefault;
		    pushLeft.open();
		  });

</script>