/* CSS Document */
html,
body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Cambria';
    font-size: 16px;
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Magneto-Bold;
    src: url(../fonts/Magneto-Bold.woff);
}

@font-face {
    font-family: UTM-Alpine-KT;
    src: url(../fonts/UTM-Alpine-KT.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/TUV-Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/TUV-Montserrat-Regular.ttf);
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a:hover {
    text-decoration: none;
}

#flashMessage{
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: #afa;
    color: #f00;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.contenth1 {
    font-family: 'UTM-Alpine-KT';
    font-size: 25px;
    color: #db9b68;
}

.contenth2 {
    font-family: 'Montserrat-Regular';
    font-size: 25px;
    text-transform: uppercase;

}

/*
1. ////////////////////////// Header ////////////////////////*/
header {

}

#top-header {
    height: 55px;
    background: #333;
    max-width: 1920px;
    margin: 0 auto;
}

#top-header h3 {
    float: left;
    line-height: 55px;
    color: #aaa;
}

#top-header h3 a {
    color: #fff;
}

#top-header h3 a:hover {
    text-decoration: underline;
}

.list-group {
    line-height: 55px;
    float: right;
}

.list-group a {
    color: #aaa;
}

.list-group-item:hover {
    color: #fff;
}

.list-group-item:hover i {
    color: #fff;
}

.list-group img {
    margin: auto 4px;
}

#header {
    height: 165px;
    position: relative;
}

#logo {
    float: left;
}

.logo {
    line-height: 165px;
    position: relative;
}

.logo p {
    text-transform: capitalize;
    line-height: 165px;
    font-family: 'Magneto-Bold';
    font-size: 35px;
    color: #ca8b5a;
    float: left;
}

.logo span {
    height: 13px;
    width: 13px;
    background: #ca8b5a;
    display: block;
    margin-top: 64px;
    margin-left: 139px;
}

/*#logo i{
	color: #ca8b5a;
}*/
/*.logo img{
	margin-top: 64px;
	margin-left: 139px;
	position: absolute;
}*/
#opening-hour {
    display: inherit;
    float: left;
    top: 30%;
    position: relative;
    /*height: 165px;*/
}

#call-us {
    float: left;
    top: 30%;
    position: relative;
    /*height: 165px;*/
    /*border-right: 1px solid #ddd;*/
}

#cart {
    float: left;
    top: 30%;
    position: relative;
    /*height: 165px;*/
}

.group-header {
    width: 25%;
    top: 50%;
}

.group-header i {
    color: #999;
}

.group-header .fa {
    color: #999;
    float: left;
    position: absolute;
    margin-left: -41px;
    margin-top: 24px;
}
a.fa.fa-shopping-bag.bag-w.fa-fw{
    color: #fff;
}
.fa-in {
    margin-left: 70px;
    margin-top: 0.8em;
    /*position: absolute;*/
}

#cart .fa-in {
    padding-left: 30px;
}

.fa-in h3 {
    font-family: 'Montserrat-Bold';
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 15px;
    color: #000;
}

.fa-in p {
    font-size: 16px;
    margin-left: 15px;
    margin-top: 5px;
    color: #666;
}

/*.active-cart{
	margin-right: 20px;
}*/
/*i.fa.shopping-bag.fa-fw{
	margin-left: -80px;
}*/
.ellipse1 {
    float: left;
}

.ellipse1:last-child {
    border-left: 1px solid #ddd;
    padding-left: 30px;
}

/*
2.1 ////////////////////////// NAVI ////////////////////////*/
nav {
    height: 54px;
    display: -webkit-box;
    line-height: 54px;
    border-top: 1px solid #ddd;
    max-width: 1920px;
    margin: 0 auto;
}

#nav-menu {
    /*margin-top: -9px;*/
}

.icon-menu a {
    color: #000;
    width: 54px;
    height: 53px;
    float: left;
    margin-right: 5px;
}

#nav-menu .icon-menu i {
    line-height: 54px;
    width: 54px;
    height: 53px;
    background: #f3f3f3;
}

#nav-menu .icon-search {
    float: right;
    width: 54px;
    height: 54px;
    text-align: center;
}

#nav-menu .icon-search a {
    text-align: center;
}

#nav-menu .icon-search i {
    line-height: 54px;
    width: 54px;
    height: 54px;
    text-align: center;
}

#nav-menu .icon-search:hover {
    background: #f3f3f3;
}

#nav-menu i {
    /*float: left;*/
}

#nav-menu ul {
    list-style: none;
    display: inline;
    z-index: 99;
    height: 54px;
}

#nav-menu ul li {
    margin-right: 0;
    font-family: Montserrat-Bold;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    float: left;
}

#nav-menu ul li a {
    color: #000;
    line-height: 54px;
    padding: 18px 25px;
    width: 100%;
}

#nav-menu ul li:hover {
    background: #f3f3f3;
}

#nav-menu ul li .active {
    background: #f3f3f3;
}

#nav-menu i .fa-search {
    margin-right: 0;
}

/*
2.2 ////////////////////////// NAVI SLIDE ////////////////////////*/

/*Add some spacing*/
.c-menu {
    position: fixed;
    z-index: 999;
    top: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

@media all and (min-width: 320px) {

    .c-menu--push-left {
        -webkit-transform: translateX(-330px);
        -ms-transform: translateX(-330px);
        transform: translateX(-330px);
    }
}

.c-menu--push-left.is-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#wrapper.has-push-left {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

@media all and (min-width: 320px) {
    #wrapper.has-push-left {
        -webkit-transform: translateX(330px);
        -ms-transform: translateX(330px);
        transform: translateX(330px);
    }
}

/* -----------------------------------------------------------------------------

  MASK COMPONENT
  
----------------------------------------------------------------------------- */
.c-mask {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.c-menu__close {
    margin-bottom: 25%;
    text-align: center;
    width: 230px;
    height: 20px;
    background: #333;
    border: none;
    color: #fff;
    font-weight: 600;
}

.c-menu {
    width: 230px;
    height: 100%;
    top: 0;
    left: 0;
    background: #121212;
    clear: both;
    padding: 3% 50px;
    z-index: 200;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    /*overflow: scroll;*/
}

.categ {
    border-bottom: 1px solid #353535;
    height: 60px;
    padding-bottom: 35px;
    margin-bottom: 35px;
    position: relative;
}

.c-menu img {
    float: left;
}

.c-menu h3 {
    position: absolute;
    margin-left: 75px;
    margin-top: 15px;
    color: #fff;
    font-family: 'Montserrat-Bold';
    font-size: 14px;
    text-transform: uppercase;
}

.c-menu span {
    color: #aaa;
    font-family: 'Cambria';
    font-weight: normal;
    text-transform: none;
}

/*
2.2 ////////////////////////// BANNER TOP CONTENT ////////////////////////*/
.top-banner {
    height: 280px;
    width: 1920px;
    margin: 0 auto;
    text-align: center;
    background: url(../images/top_banner_bg.jpg);
}

.top-banner h2 {
    font-family: 'Montserrat-Bold';
    font-size: 35px;
    color: #fff;
    padding-top: 90px;
    text-transform: uppercase;
}

.page-link {
    margin-top: 25px;
}

.page-link h3, i {
    color: #aaa;
    font-size: 18px;
}

.page-link span {
    text-transform: capitalize;
    color: #fff;
}

/*
2.3 ////////////////////////// ASIDE ////////////////////////*/
#content {
}

.content {
    /*clear: both;*/
}

aside {
    width: 270px;
    margin-top: 67px;
    height: auto;
    float: left;
    position: relative;
}

.menu-left, .prices, .recommend {
    /*border: 1px solid #eaeaea;*/
    background: #f8f8f8;
    margin-bottom: 30px;
    padding: 25px 25px 25px 15px;
}

.menu-left {

}

.menu-left h3, .prices h3, .recommend h3 {
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    text-transform: uppercase;
}

.menu-left hr, .prices hr, .recommend hr {
    height: 1px;
    width: 30px;
    background-color: #000;
    border: none;
    margin: 24px 0;
}

.menu-left ul {
    text-transform: uppercase;
    color: #666;
    list-style: none;
}

.menu-left ul li {
    transition: all 2s ease;
    -o-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -webkit-transition: all 2s ;
    width: 200px;
    line-height: 38px;
    display: block;
}

.menu-left ul li a {
    color: #666;
}

.menu-left ul li a:hover {
    color: #ca8b5a;
    text-decoration: underline;
}

.menu-left ul li:hover .menu-down {
    display: block; 
    margin-left: 20px;
}

.menu-down {
    transition: all 2s ease;
    -o-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    display: none;
}

.dropdown {
    z-index: 999;
    position: relative;
    display: inline-block;
}

.acc-down p a {
    color: #fff;
}

.acc-down p a:hover {
    color: #fff;
    text-decoration: underline;
}

.acc-down p {
    color: #aaa;
    display: block;
    line-height: 26px;
    padding-left: 10px;
    float: left;
}
.acc-down {
    /*margin-left: 18px;*/
    margin-top: -10px;
    transition: all 5s ease-out;
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .acc-down {
    display: block;
}

.acc-down:hover {
    display: block;
}

.menu-down p {
    transition: all 5s ease-out;
    text-transform: capitalize;
    line-height: 30px;
    display: block;
}

.menu-down p:hover a {
    color: #ca8b5a;
    text-decoration: underline;
}

.prices p {
    color: #666;
    font-weight: bold;
}

.prices p input{
    margin-bottom: 20px;
    border:0;
    color:#666;
    font-weight:bold;
    background: #f8f8f8;
}

.prices img {
    margin-top: 24px;
}

.aside-item-group {
    padding-bottom: 26px;
    border-bottom: 1px dashed #ddd;
    margin-top: 26px;
    padding-left: 5px;
}
.aside-item-group:last-child{
    border: none;
}

.aside-item-group img {
    float: left;
    margin-right: 10px;
}

.aside-item-group h4 {
}

.aside-item-group h3 {
}

/*
3. ////////////////////////// SLIDER ////////////////////////*/


.slider-img {
    width: 100%;
    margin: 0 auto;
}

.slider-img img {
    margin: 0 auto;
}

.slider-info {
    position: absolute;
    top: 0;
    text-align: center;
    max-width: 1920px;
    width: 100%;
    line-height: 70px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
}

.slider-info img {
    margin-top: 150px;
}

.slider-info h1 {
    font-family: 'UTM-Alpine-KT';
    font-size: 50px;
    color: #db9b68;
}

.slider-info h2 {
    font-family: 'Montserrat-Regular';
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
}

.slider-info h4 {
    margin-bottom: 20px;
    margin-top: -20px;
    font-size: 20px;
    color: #fff;
    font-style: italic;
    color: #e2e0df;
}

.slider-info a {
    font-family: 'Montserrat-Bold';
    background: rgba(0, 0, 0, 0);
    font-size: 14px;
    color: #fff;
    padding: 20px 25px;
    text-transform: uppercase;
    border: 1px rgba(200, 200, 200, 0.8) solid;
}

.slider-info a:hover {
    border: 2px rgba(255, 255, 255, 1) solid;
    background: rgba(0, 0, 0, 0.1);
    font-size: 15px;
}
/* *********************
*/
#wowslider-container1 {
    zoom: 1; 
    position: relative;
    max-width: 1920px;
    max-height:670px;
    margin: 0 auto;
    z-index:90;
    text-align:left; /* reset align=center */
    text-shadow: none; /* fix some user styles */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; 
}
.ws_images ul{
    position:relative;
    width: 10000%; 
    height:100%;
    left:0;
    list-style:none;
    margin:0;
    padding:0;
    border-spacing:0;
    overflow: visible;
    /*table-layout:fixed;*/
}
.ws_images ul li{
    position: relative;
    width:1%;
    height:100%;
    line-height:0; /*opera*/
    overflow: hidden;
    float:left;
    /*font-size:0;*/
    padding:0 0 0 0 !important;
    margin:0 0 0 0 !important;
}

.ws_images{
    position: inherit;
    left:0;
    top:0;
    height:100%;
    max-height:670px;
    max-width: 1920px;
    vertical-align: top;
    overflow: hidden;
}
.ws_images ul a{
    width:100%;
    height:100%;
    max-height:670px;
    display:block;
    color:transparent;
}
 img{
    max-width: none !important;
}
.ws_images.ws_list img,
.ws_images > div > img{
    width:100%;
    border:none 0;
    max-width: none;
    padding:0;
    margin:0;
}
.ws_images > div > img {
    max-height:670px;
}

.ws_images iframe {
    position: absolute;
    z-index: -1;
}

 .ws-title > div {
    display: inline-block !important;
}

 a{ 
    text-decoration: none; 
    outline: none; 
    border: none; 
}

 .ws_bullets { 
    float: left;
    position:absolute;
    z-index:70;
}
.ws_bullets div{
    position:relative;
    float:left;
    font-size: 0px;
}
/* compatibility with Joomla styles */
 .ws_bullets a {
    line-height: 0;
}

 .ws_script{
    display:none;
}
 sound, 
 object{
    position:absolute;
}

/* prevent some of users reset styles */
.ws_effect {
    position: static;
    width: 100%;
    height: 100%;
}

.ws_photoItem {
    border: 2em solid #fff;
    margin-left: -2em;
    margin-top: -2em;
}
.ws_cube_side {
    background: #A6A5A9;
}


.ws_gestures {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABwSURBVEjH7ZJBEsAgCAMT/v/n9NCOSqe2oD2yNx1JggB4BCEFWyFASP2KMQE7ywWhe/tTRGCGogLk02tFctiW/SUgaMyQG4PdPzDn31rQbMb8FiAXgvsEJNax1yVlVGAjA93apP3HFhZTGIqiKH7iADB6HxPlHdNVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA3LTA3VDEzOjQ5OjEwKzAyOjAwm7WiFAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNy0wN1QxMzo0OToxMCswMjowMOroGqgAAAAASUVORK5CYII="), move;
}
.ws_gestures.ws_grabbing {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABaSURBVEjH7ZMxCkAhDEOT8u9/5TpJ+xWkFse8IYutJgEB8RCHL1qCc90BEFnT6QH7mwgFHBUf8wJyS1TDLuc3vmighx37LZdIth3E5hKj9n6O0HRh+oJCiFcMxRUUDxR1CTMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDctMDdUMTM6NDk6MzgrMDI6MDDqf+sOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA3LTA3VDEzOjQ5OjM4KzAyOjAwmyJTsgAAAABJRU5ErkJggg=="), move;
}

/* hide controls when video start play */
.ws_video_playing.ws_bullets,
.ws_video_playing.ws_fullscreen,
.ws_video_playing.ws_next,
.ws_video_playing.ws_prev {
    display: none;
}


/* youtube/vimeo buttons */
.ws_video_btn {
    position: absolute;
    display: none;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 55;
}
.ws_video_btn.ws_youtube,
.ws_video_btn.ws_vimeo {
    display: block;
}
.ws_video_btn div {
    position: absolute;
    background-image: url(./playvideo.png);
    background-size: 200%;
    top: 50%;
    left: 50%;
    width: 7em;
    height: 5em;
    margin-left: -3.5em;
    margin-top: -2.5em;
}
.ws_video_btn.ws_youtube div {
    background-position: 0 0;
}
.ws_video_btn.ws_youtube:hover div {
    background-position: 100% 0;
}
.ws_video_btn.ws_vimeo div {
    background-position: 0 100%;
}
.ws_video_btn.ws_vimeo:hover div {
    background-position: 100% 100%;
}

.ws_playpause.ws_hide {
    display: none !important;
}

* html {
    background-image: none;
}

 .ws_bullets { 
    padding: 0px; 
}
.ws_bullets a { 
    display: none;
    margin-left: 0; 
    width:20px;
    height:20px;
    background: url(./bullet.png) right top;
    float: left; 
    text-indent: -4000px; 
    position:relative;
    color:transparent;
}
* html .ws_bullets a {
    background-image: url(./bullet.gif);
}
.ws_bullets a.ws_selbull{
    background-position: left top;
}
.ws_bullets a:hover{
    background-position: left top;
}
 a.ws_next,  a.ws_prev {
    position:absolute;
    top:50%;
    margin-top:-3.7em;
    opacity:0.7;
    z-index:60;
    height: 7.5em;
    width: 6em;
    background-image: url(./arrows.png);
    background-size: 200%;
}
* html  a.ws_next, * html  a.ws_prev{
    background-image: url(./arrows.gif);
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
 a.ws_next{
    background-position: 100% 0; 
    right:0;
}
 a.ws_prev {
    left:0;
    background-position: 0 0; 
}

/*playpause*/
.ws_playpause {
    width: 6em;
    height: 7.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3em;
    margin-top: -3.7em;
    z-index: 59;
    background-size: 100%;
}

.ws_pause {
    background-image: url(./pause.png);
}

.ws_play {
    background-image: url(./play.png);
}

.ws_pause:hover, .ws_play:hover {
    background-position: 100% 100% !important;
}/* bottom center */
.ws_bullets {
    bottom:26px;
    margin-bottom: -25px;
    left:50%;
}
.ws_bullets div{
    left:-50%;
}
.ws_bullets.ws_bulframe{
    bottom:29px;
} .ws-title{
    position: absolute;
    font: 1.4em Tahoma, Arial, Helvetica;
    bottom:8%;
    left: 0;
    margin-right:2em;
    z-index: 50;
    color: #000;
    letter-spacing: 0.1em;
    line-height: 1.25em;
    text-align: left;
    text-shadow: 0 0 0.15em #FFFFFF;    
}
 .ws-title div, .ws-title span{
    display:inline-block;
    padding:0.8em;
    background:#FFF;
    -moz-border-radius:0 0.4em 0.4em 0;
    -webkit-border-radius:0 0.4em 0.4em 0;
    border-radius:0 0.4em 0.4em 0;
    opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); 
}
 .ws-title div{
    display:block;
    margin-top:0.5em;
    font-size: 0.857em;
}.ws_images > ul{
    animation: wsBasic 28s infinite;
    -moz-animation: wsBasic 28s infinite;
    -webkit-animation: wsBasic 28s infinite;
}
@keyframes wsBasic{0%{left:-0%} 7.14%{left:-0%} 14.29%{left:-100%} 21.43%{left:-100%} 28.57%{left:-200%} 35.71%{left:-200%} 42.86%{left:-300%} 50%{left:-300%} 57.14%{left:-400%} 64.29%{left:-400%} 71.43%{left:-500%} 78.57%{left:-500%} 85.71%{left:-600%} 92.86%{left:-600%} }
@-moz-keyframes wsBasic{0%{left:-0%} 7.14%{left:-0%} 14.29%{left:-100%} 21.43%{left:-100%} 28.57%{left:-200%} 35.71%{left:-200%} 42.86%{left:-300%} 50%{left:-300%} 57.14%{left:-400%} 64.29%{left:-400%} 71.43%{left:-500%} 78.57%{left:-500%} 85.71%{left:-600%} 92.86%{left:-600%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 7.14%{left:-0%} 14.29%{left:-100%} 21.43%{left:-100%} 28.57%{left:-200%} 35.71%{left:-200%} 42.86%{left:-300%} 50%{left:-300%} 57.14%{left:-400%} 64.29%{left:-400%} 71.43%{left:-500%} 78.57%{left:-500%} 85.71%{left:-600%} 92.86%{left:-600%} }


.ws_bullets  a img{
    text-indent:0;
    display:block;
    bottom:20px;
    left:-69px;
    visibility:hidden;
    position:absolute;
    -moz-box-shadow: 0 0 5px #d6d6d6;
    box-shadow: 0 0 5px #d6d6d6;
    border: 3px solid #d6d6d6;
    max-width:none;
}
.ws_bullets a:hover img{
    visibility:visible;
}

.ws_bulframe div div{
    height:48px;
    overflow:visible;
    position:relative;
}
.ws_bulframe div {
    left:0;
    overflow:hidden;
    position:relative;
    width:137px;
    background-color:#d6d6d6;
}
.ws_bullets.ws_bulframe{
    display:none;
    overflow:visible;
    position:absolute;
    cursor:pointer;
    -moz-box-shadow: 0 0 5px #d6d6d6;
    box-shadow: 0 0 5px #d6d6d6;
    border: 3px solid #d6d6d6;
}
.ws_bulframe span{
    display:block;
    position:absolute;
    bottom:-7px;
    margin-left:-1px;
    left:69px;
    background:url(./triangle.png);
    width:15px;
    height:6px;
}.ws_bulframe div div{
    height: auto;
}

@media all and (max-width:760px) {
    .ws_fullscreen {
        display: block;
    }
}
@media all and (max-width:400px){
    .ws_controls,
    .ws_bullets,
    .ws_thumbs{
        display: none
    }
}


/*
4. ////////////////////////// CATEGORY ////////////////////////*/
.category {
    height: 370px;
    width: 870px;
}

.category-group {
    height: 370px;
    float: left;
    width: 270px;
    margin-right: 30px;
    text-align: center;
}

.category-group:last-child {
    margin-right: 0;
}

.category-img {
    margin-top: 0px;
}

.category-info {
    padding: 0 5px;
}

.category-info h2 {
    margin: 20px auto;
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    text-transform: uppercase;
}

.category-info p {
    margin-bottom: 30px;
}

.category-info button {
    color: #db9b68;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    background: rgba(0, 0, 0, 0);
    border: none;
}

/*
5. ////////////////////////// BANNER ////////////////////////*/
.banner {
    width: 870px;
    height: 330px;
    position: relative;
    overflow: hidden;
}

.banner-l {
    float: left;
    width: 50%;
}

.banner-l img {
    width: 435px;
    height: 330px;
}

.banner-r {
    background: url(../images/banner_bg.jpg);
    text-align: center;
    width: 50%;
    height: 330px;
    float: left;
}

.banner-r h2 {
    margin-top: 60px;
    padding: 10px auto;
    font-size: 18px;
}

.banner-r img {
    margin-top: 10px;
}

.banner-r p {
    padding: 0 30px;
    margin: 40px auto;
    color: #666;
}

.banner-r a {
    font-family: 'Montserrat-Bold';
    width: 155px;
    font-size: 13px;
    background: #333;
    border: none;
    padding: 16px;
    color: #fff;
    text-transform: uppercase;
}

/********************************************************************/

.rslides {
    list-style: none;    
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    width: 100%;
}

/*
6. ////////////////////////// PRODUCTS ////////////////////////*/
.products {
    clear: both;
    width: 870PX;
}

.products-title {
    text-align: center;
    height: 220px;
}

.products-title h1 {
    padding-top: 65px;
}

.products-title h2 {
}

.products-title img {
    margin-top: 15px;
}

.products-group {
    /*height: 465px;*/
    width: 870px;
    margin-bottom: 30px;
    display: block;
}

.prod-itemsp {
    width: 270px;
    max-height: 465px;
    float: left;
    margin-bottom: 30px;
}

.prod-item {
    background: #f9f9f9;
    height: 465px;
    width: 270px;
    margin-bottom: 35px;

}

.prod-item {
    position: relative;
}

.prod-info {
    margin: 0 20px;
}

/*

* CSS for Template

.item1, .item2,
.items1, .items2{
	margin-right: 30px;
}*/

.item1 {
    margin-right: 30px;
}

.ashow a {
    position: absolute;
    width: 122px;
    height: 39px;
    left: 70px;
    text-align: center;
    background: #fff;
    margin-top: -120px;
    font-family: 'Montserrat-Bold';
    font-size: 13px;
    line-height: 39px;
    color: #000;
    text-transform: uppercase;
    display: none;
}

.prod-img:hover .ashow a {
    display: inline;
}

.prod-item h4, .column2 h4 {
    font-family: 'Montserrat-Bold';
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 8px;
    color: #000;
}

.prod-item .prod-img img {
    margin-left: -20px;
}

.prod-item p {
    line-height: 23px;
    margin-top: 10px;
}

.prod-item h2,
.prod-item h3 {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    margin: 20px 0;
}

.prod-item h2 {
    color: #db9b68;
}

.prod-item h2 span {
    color: #999;
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 10px;
}

.btn-order {
    height: 33px;
}

.btn-order input {
    height: 35px;
    width: 55px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #ddd;
    display: inline;
}

.btn-order button {
}
.btn-order button,
.btn-order form input[type="submit"],
.btn-order a {
    text-decoration: none;
    height: 35px;
    width: 130px;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    color: #fff;
    border: none;
    background: #333;
    margin-bottom: 50px;
    font-size: 13px;
    /*padding: 10px 58px;*/
}

.btn-order a {
    padding: 10px 40px;
}
.btn-order .input-quantity{
    float: left;
    height: 33px;
}
.btn-order .btn-add-cart{
    display: inline-table;
}
.btn-form-order{
    display: inline-table;
}

/*
6. ////////////////////////// PRODUCTS REVIEW
*/
#quickview {
    width: 870px;
    float: right;
}

#quickview img {
}

.quickview {
    margin-top: 40px;
    display: block;
}

.quickview-img {
    width: 370px;
    float: left;
    margin-right: 30px;
}

.quickview-img img {
}

.quickview-imgs {
    display: inline-block;
}

.quickview-imgs img {
    float: left;
    width: 82px;
    margin-top: 10px;
}

.quickview-imgs img {
    margin-right: 14px;
}

.quickview-imgs img:last-child {
    margin-right: 0;
}

.quickview-info {
    width: 470px;
    float: left;
    color: #666;
}

.quickview-prod {
}

.quickview-prod h3 {
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    color: #000;
}

.rate {
    margin-top: 15px;
}

.rate img {
    margin-right: 45px;
}

.rate span {
    border-left: 1px solid #ddd;
    margin-left: 10px;
    padding-left: 10px;
}

.quickview-prod h2 {
    font-size: 24px;
    font-family: 'Montserrat-Regular';
    color: #db9b68;
    margin: 25px 0;
}

.quickview-prod h2 span {
    font-size: 16px;
    color: #999;
    text-decoration: line-through;
    margin-right: 15px;
}

.avai {
    margin-bottom: 20px;
}

.quickview-prod p {
    line-height: 24px;
}

.quantity,
.size {
    padding: 25px 0;
    position: relative;
}

.quantity {
    padding-bottom: 0px;
    border-top: 1px solid #eaeaea;
    margin-top: 23px;
}

.size {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 23px;
    margin-left: 43px;
}

.quantity h3,
.size h3 {
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    text-transform: uppercase;
    float: left;
    margin-right: 32px;
    color: #777;
    line-height: 35px;
}

.quantity p,
.size p {
    height: 35px;
    position: relative;
}

.quantity p a i,
.size p a i {
    height: 27px;
    width: 35px;
    background: #f3f3f3;
    position: absolute;
    padding-top: 8px;
}

.quantity p input,
.size p select {
    margin-right: 5px;
    text-align: center;
    height: 33px;
    width: 70px;
    margin-left: 40px;
    border: 1px solid #f3f3f3;
}

.quickview-cart {
    color: #777;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 30px;
}

.quickview-cart .btn-add-cart {
    text-align: center;
    line-height: 45px;
    width: 153px;
    height: 45px;
    background: #ca8b5a;
    border: none;
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    float: left;
    margin-right: 30px;
}

.quickview-cart .fa-heart {
    height: 45px;
    float: left;
    line-height: 45px;
    margin-right: 8px;
}

.quickview-cart p {
    line-height: 45px;
}

.quickview-cart ul {
    margin: 30px 0;
    list-style: none;
    position: relative;
}

.quickview-cart ul li {
    line-height: 26px;
}

.quickview-cart ul li i {
    float: none;
    line-height: 10px;
}

.quickview-cart ul li a {
    text-decoration: underline;
}

.quickview-share {
    padding-bottom: 40px;
}

.quickview-share h3,
.review h3 {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    text-transform: uppercase;
    float: left;
    margin-right: 40px;
    color: #777;
}

.quickview-share i {
    margin-right: 25px;
    color: #000;
}

.review {
    background: #f8f8f8;
    padding: 20px 45px;
    margin-bottom: 45px;
    clear: both;
}

.review h3 {
    float: none;
    color: #000;
    margin-bottom: 30px;
}

.review h3 span {
    border-bottom: 2px solid #000;
    margin-right: 22px;
}

.review p {
    color: #777;
}

/*
7. ////////////////////////// TESTiMONIALS ////////////////////////*/
.testimonials {
    background: url(../images/testmonials_bg.jpg);
    text-align: center;
    clear: both;
    height: 560px;
    width: 1920px;
    margin: 0 auto;
}
.testimonials .container{
    position: relative;
}

#t_pagers{
    width: 100%;
    height: auto;
}
#t_pagers .pagers{
    display: block;
    padding-top: 85px;
    height: 100px;
    width: 332px;
    margin: 0 auto;
    line-height: 100px;
}
#t_pagers .pager{
    display: inline-block;
    padding-right: 40px;
}
#t_pagers .pager:last-child{
    margin: 0;
    padding: 0;
}
#t_pagers .pager.active{
    margin: 0;
    top:15px;
    position: relative;
}
#t_pagers .pager img{
    display: inline-block;
    border-radius:50%;
    cursor:pointer;
    float: left;
    width: 70px;
    height: 70px;
    opacity: 0.3;
}
#t_pagers .pager.active img{
    width: 100px;
    height: 100px;
    opacity: 1;
}
#test_container{
    width: 100%;
    overflow:hidden;
    position: relative;
}
.testimonial{
    overflow: hidden;
    position: absolute;
    width: 1170px;
    z-index:1;
    margin: 0 auto;
}
.testimonials .testimonial_text{
    padding: 0px 90px;
    margin-top: 60px;
    font-style:italic;
    color: #fff;
    font-size: 24px;
    line-height: 40px;
}
.testimonials .testimonial_name{
    text-transform: uppercase;
    margin:60px auto 3px;
    font-size: 16px;
    font-family: 'Montserrat-Bold';
    color: #fff;
    font-style:normal;
}
.testimonials .testimonial_designation{
    font-size: 16px;
    color: #cdcdcd;
    margin-top: 12px;
}


/*
8.1  ////////////////////////// ABOUT US ////////////////////////*/
.about-us {
    height: 695px;
}

.about-us-img {
    text-align: center;
    width: 50%;
    float: left;
    height: 695px;

}

.about-us-img img {
    bottom: 0;
    margin-top: 75px;
}

.about-r {
    float: left;
    width: 50%;
}

.about-us-info {
    width: 97%;
    float: right;
}

.about-us-info h1 {
    margin-top: 145px;
}

.about-us-info h2 {
}

.about-us-info hr {
    width: 50px;
    margin-bottom: 45px;
    margin-top: 20px;
}

.about-us-info .p1, .about-story .p1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    margin-top: -3px;
    margin-right: 10px;
}

.about-us-info .p2, .about-story .p2 {
    line-height: 25px;
}

.about-us-info .p3, .about-story .p3 {
    line-height: 25px;
    /*clear: both;*/
}

.about-us-info .p4 {
    line-height: 25px;
    margin-top: 10px;
}

/*
*.* /////////////////////////////////////////////////////// ARTICLE ///////////////////////////////////////////////////////////////////////*/
article {
    width: 870px;
    padding-top: 67px;
    float: left;
    padding-left: 30px;
}

/* 
*.1 /////////////////////////                                                 ABOUTUS PAGE  */

.main-aboutus {
    float: left;
    position: relative;
    width: 870px;
}

.about-story {
}

.about-story-img {
    width: 400px;
    text-align: center;
    float: left;
}

.about-story-text {
    width: 466px;
    float: right;
    margin-top: 50px;
}

.about-story-text .p2 {
    line-height: 28px;
}

.about-story-text .p2, .about-story-text .p1 {
    margin-top: 30px;
}

.about-gallery hr, .about-story-text hr {
    width: 50px;
    height: 1px;
    border: none;
    background: #ccc;
    margin: 20px 0;
}

.statisctic {
    height: 180px;
    clear: both;
    width: 100%;
    background: #f9f9f9;
}

.sta-gr {
    height: 96px;
}

.sta-count {
    height: 96px;
    float: left;
    width: 33.1%;
    text-align: center;
    border-right: 1px solid #ddd;
    margin: 5% auto;
    display: block;
}

.sta-count span {
    font-size: 50px;
    font-weight: bold;
}

.sta-count p {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    color: #999;
    text-transform: uppercase;
}

.about-gallery {
    margin-top: 80px;
}

.img-top {
    margin-top: 45px;
    height: 440px;
    margin-bottom: 30px;
}

.img-top-l {
    width: 270px;
    float: left;
    margin-right: 30px;
}

.img-top-r {
}

.img-bot {
    height: 205px;
    margin-bottom: 80px;
}

.img-bot-l {
    width: 470px;
    height: 100%;
    float: left;
    margin-right: 30px;
}

.img-bot-r {
    width: 370px;
    height: 205px;
    background: #f3f3f3;
    line-height: 205px;
    text-align: center;
    float: left;
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    text-transform: uppercase;
}

.img-bot-r a, .img-bot-r i {
    color: #000;
}

/*
*.2 /////////////////////////                                                       ABOUTUS PAGE  */
.quality {
    clear: both;
}

hr.hr-qua {
    border: none;
    height: 1px;
    width: 870px;
    /*width: auto;*/
    background: #eaeaea;
    margin: 35px 0;
}

.quality img {
    float: left;
    margin-right: 30px;
    margin-bottom: 35px;
}

.quality-des {
    padding-top: 38px;
}

.quality-des h3 {
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.quality-des p {
}

/*
*.3 /////////////////////////                                                        CHECKOUT PAGE  */
.main-checkout table {
    border-collapse: collapse;
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    border-spacing: 0;
    min-width: 870px;

}

.main-checkout table thead {
    text-transform: uppercase;
    height: 58px;
    color: #fff;
}

.main-checkout table thead td {
    background: #ca8b5a;
    border: 1px solid #ca8b5a;
}

.main-checkout td {
    border: 1px solid #eaeaea;
    padding: 25px;
}

td.column1 {
    padding: 20px;
}

td.column1 img {
    width: 130px;
    padding-bottom: 20px;
    padding-top: 5px;
}

td.column2 {
    width: 158px;
}

td.column3,
td.column5 {

    font-size: 16px;
}

input.product-price{
    border: none;
    font-size: 1.17em;
    font-family: 'Montserrat-Regular';
    font-weight: normal;
    width: 63px;
    padding: 0;
    text-align: center;
}
td.column4 {
    position: relative;
    width: 158px;
}

td.column4 input {
    position: relative;
    margin-left: 35px;
    margin-right: 5px;
    width: 58px;
    height: 26px;
    float: left;
    text-align: center;
}

.btn-checkout {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    text-transform: uppercase;
    background: #eaeaea;
    height: 45px;
    border: none;
    color: #000;
}

.btn-checkout:hover {
    background: #f3f3f3;
    box-shadow: -2px -2px 2px #aaa;
}

.btn-checkout-submit:hover {
    box-shadow: -2px -2px 2px #aaa;

}

.btn-checkout-submit {
    color: #fff;
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    text-transform: uppercase;
    background: #ca8b5a;
    border: none;
}

.check-cart p {
    line-height: 45px;
}

.check-cart a {
    color: #666;
    line-height: 45px;
}

.check-cart .clear-cart {
    text-align: left;
    float: right;
}

.clear-cart:hover {
    color: #ca8b5a;
    text-decoration: underline;
}

.check-cart .btn-r,
.check-cart .btn-l {
    font-size: 13px;
    padding: 0 24px;
    color: #000;
    cursor: pointer;
}

.check-cart .btn-r {
    float: right;
    margin-left: 24px;
}

.check-cart .btn-l {
    float: left;
}

.checkform {
    /*width: 870px;*/
    height: auto;
    /*overflow: auto;*/
}

.checkform- {
    width: 268px;
    border: 1px solid #eaeaea;
    float: left;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-right: 30px;
}

#CouponCode.input-coupon {
    padding: 0 20px;
    margin-left: 18px;
    width: 190px;
}

.checkform-:last-child {
    margin-right: 0;
}

.checkform h3,
.checkform p,
.checkform small,
.checkform form input {
    padding: 0 18px;
}

.checkform h3 {
    padding: 0 18px;
    height: 50px;
    background: #333;
    color: #fff;
    line-height: 50px;
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.checkform small,
.checkform p {
    margin-bottom: 15px;
    color: #666;
}

.checkform p span {
    float: right;
    color: #999;
    font-family: 'Montserrat-Regular';
    font-size: 14px;
}

.checkform input,
.checkform button {
    width: 192px;
    padding: 0 18px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 15px;
    height: 36px;
}

p.checktotal {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.checkform button {
    margin-top: 20px;
    margin-bottom: 24px;
    width: 232px;
    height: 45px;
}

/*
*.4 /////////////////////////                                                        SHOPPING GUIDE  */
.guide {
    padding: 18px 60px 50px 50px;
    background: #f8f8f8;
    margin-bottom: 30px;
    display: block;
    position: relative;
}

.bg-fa {
    float: left;
    margin-right: 15px;
}

.guide i {
    margin-left: -79px;
    width: 64px;
    text-align: center;
    line-height: 64px;
    float: left;
    color: #000;
}

.guide h3 {
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    text-transform: uppercase;
    line-height: 64px;
}

.guide .onweek {
    float: left;
    padding-right: 80px;
}

.guide .lastweek {
    float: left;
    padding-right: 150px;
}

.guide ul,
.guide p {
    line-height: 20px;
    color: #666;
    list-style-type: decimal;
    padding-top: 30px;
}

.guide p span {
    font-weight: bold;
}

.guide ul li {
    line-height: 30px;
}

.list-bank {
    margin-top: 25px;
}

.map {
    position: relative;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 50px;
    width: 870px;
}

.map .mapid {
    right: -1px;
    top: 240px;
    width: 370px;
    height: 210px;
    position: absolute;
    background: #333;
    padding-top: 50px;
    overflow: auto;
}

.map:hover .mapid {
    /*display: none;*/
}

.map .mapid i {
    float: left;
    margin-left: 25px;
    margin-right: 20px;
    color: #fff;
}

.map .mapid p {
    color: #aaa;
    line-height: 25px;
    padding-bottom: 15px;
    display: table;
}

/*Add some spacing*/
.faq-section {
    position: relative;
    border-bottom: 1px solid #eaeaea;
}

/*Hide the paragraphs*/
.faq-section p {
    display: none;
}

/*Hide the checkboxes */
.faq-section input {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    margin: 0;
    width: 100%;
    height: 36px;
}

/*Show only the clipped intro */
.faq-section label p {
    display: block;
    color: #666;
    font-size: 16px;
    transition: all .45s ease-out;
    margin-left: 30px;
    overflow: hidden;
    visibility: hidden;
}

/*If the checkbox is checked, show all paragraphs*/
.faq-section input[type=checkbox]:checked ~ p {
    display: block;
    color: #666;
    font-size: 16px;
    margin-left: 30px;
    line-height: 27px;
    overflow: visible;
    margin-bottom: 25px;
    transition: all .55s ease-out;
}

/*Style the label*/
.faq-section label {
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat-Regular';
    display: block;
    position: relative;
    padding: 0;
    transition: all .55s ease-out;
}

/*Remove text selection when toggle-ing*/
.faq-section label::selection {
    background: none;
}

.faq-section label:focus {
    pointer-events: none;
}

.faq-section:hover label {
    text-decoration: underline;
}

/*
9. ////////////////////////// NEWSLETTER ////////////////////////*/

.newsletter {
    height: 110px;
    background: #ca8b5a;
    clear: both;
    width: 1920px;
    margin: 0 auto;
}

.newsletter h3 {
    float: left;
    line-height: 110px;
    font-family: 'Montserrat-Regular';
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
}

.form-suscribe {
    height: 50px;
    float: left;
    margin-left: 85px;
    margin-top: 30px;
}

.form-suscribe .inp-suscribe {
    float: left;
    padding-left: 25px;
    height: 50px;
    width: 310px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.form-suscribe .btn-suscribe {
    height: 50px;
    width: 135px;
    background: #333;
    color: #fff;
    font-family: 'Montserrat-Bold';
    font-size: 13px;
    border: none;
    /*padding-top: -4px;*/
    /*margin-left: -3.5px;*/
}

.list-item {
    line-height: 110px;
    margin-left: 130px;
    display: inline;
}

.list-item a {
    margin-right: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 50%;
}

.list-item a i {
    color: #ca8b5a;
}

/*
10. ////////////////////////// FOOTER ////////////////////////*/
footer {
    background: #333;
    color: #fff;
    width: 1920px;
    margin: 0 auto;
}

#footer {
    height: 400px;
}

.footer {
    float: left;
    width: 270px;
    padding: 85px 0;
    margin-right: 30px;
}

.footer:last-child {
    margin-right: 0;
}

.footer h3 {
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer li {
    list-style: none;
    color: #aaa;
    margin-bottom: 15px;
}

.footer li a {
    color: #aaa;
}

.footer-contact {
}

.footer-contact li {
    line-height: 25px;
}

.footer-contact li i {
    float: left;
    margin-right: 20px;
    line-height: 25px;
    color: #fff;
}

.footer-contact li span {
    display: table-cell;
}

.footer-account {

}

.footer-support {

}

.footer-gallery {
    /*padding: 85px 0;*/
}
.ft-gallery{
    width: 84px;
    height: 84px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 9px;
    margin-bottom: 9px;
}
.ft-gallery a{
    overflow: hidden;
}
.ft-gallery a img{
    position: absolute;
    height: 84px;

}
.footer-gallery-2,
.footer-gallery-5{
    margin-right: 0;
}
 .down1,
 .up1{
    height: 30px;
    width: 30px;
    background: #eaeaea;
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    padding-top: 7px;
 }
.quantity .count{
    border: 0;
    display: inline;
}
.quantity .down1,
.quantity .up1{
    height: 35px;
    width: 35px;
    background: #f3f3f3;
}
/*.footer-gallery table {
    border-spacing: 0;
    border-collapse: inherit;
}

.footer-gallery table tr {
    height: 84px;
    display: inline-table;
}

.footer-gallery table tr td {
    height: 84px;
    padding-right: 9px;
    padding-bottom: 5px;
}

.footer-gallery table tr td:last-child {
    margin-right: 0;
}

.footer-gallery table tr td a {
    height: 84px;
    width: 84px;

}*/

#coppyright {
    clear: both;
    height: 60px;
    background: #121212;
    color: #777;
    text-align: center;
}

#coppyright span {
    text-transform: capitalize;
    line-height: 60px;
}

/*
                                         USERS
*/
.users table {
    width: 100%;
    margin: 2em auto;
}

.users table th {
    /*border-top: 1px solid #ddd;*/
}

.users table th,
.users table td {
    border-bottom: 1px solid #ddd;
}

.users table td {
    border-right: 1px solid #ddd;
    padding: 0 10px;
}

.users table td:first-child {
    border-left: 1px solid #ddd;
}

/*??????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/

#wrapper {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

@media all and (max-width: 1169px) {
    #top-header,
    .testimonials,
    footer {
        width: 100%;
    }

    .slider {
        max-height: 400px;
    }

    .slider-img img {
        max-height: 400px;
    }

    .nav-menu ul li a {
        padding: 18px 10px;
    }

    aside {
        display: none;
    }

    .container {
        width: 99.9%;
    }

    .form-suscribe .inp-suscribe {
        width: 50%;
    }

    article {
        width: 100%;
        padding: 0;
    }

    .category,
    .banner {
        margin: 0 auto;
    }

    .products-group {
        margin: 0 auto;
    }

    .testimonials {
        max-height: 400px;
    }

    .testimonials img {
        margin-top: 4%;
    }

    .testimonials p {
        padding: 35px 50px;
    }

    .main-checkout {
        width: 870px;
        margin: 0 auto;
    }

    .checkform {
        margin: 0 auto;
    }

    .footer {
        width: 20%;
    }

    .main-aboutus {
        float: none;
        margin: 0 auto;
    }

    .map .mapid {
        right: auto;
        height: auto;
    }

    .map {
        margin: 0 auto;
    }
}

@media all and (min-width: 1170px) and (max-width: 1600px) {
    #top-header,
    .top-banner,
    .testimonials,
    .newsletter,
    .slider-img,
    footer {
        width: 100%;
    }


    .slider-info {
        line-height: 60px;
        top: 0;
    }

    .slider-img img,
    .testimonials {
        /*height: 450px;*/
        width: 100%;
    }

    .category-img {
        margin-top: 0;
    }

    .category {
        height: 400px;
    }


    .list-group {
        /*margin-right: 15px;*/
    }

    .c-menu__close {
        display: none;
    }

    .c-menu {
        padding-top: 5%;
    }
}

/*
*   LOG-IN BOX
*/
div.overlay {
    background-color: rgba(0, 0, 0, .65);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

div.overlay > div.login-wrapper {
    align-self: center;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 2px;
    padding: 6px;
    width: 450px;
}

div.overlay > div.login-wrapper > div.login-content {
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    padding: 24px;
    position: relative;
}

div.overlay > div.login-wrapper > div.login-content > h3 {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 1.8em;
    margin: 0 0 1.25em;
    padding: 0;
}

/*
*   FORM
*/
label {
    color: rgb(0, 0, 0);
    display: block;
    font-family: 'Cambria';
    font-size: 1.25em;
    margin: .75em 0;
}

form button {
    background-color: #db9b68;
    border: 1px solid rgba(0, 0, 0, .1);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat-Regular', sans-serif;
    padding: .55em .9em;
    transition: all 400ms ease;
    margin: 0 auto;
}

form button:hover {
    cursor: pointer;
}

a.close {
    float: right;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #ddd;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}
.add-user .date select{
    height: 2em;
}
.add-user select#UserBirthDay,
.add-user select#UserBirthMonth{
    margin-left: 2%;
}
.add-user h3{
    margin-left: 25%;
}
.add-user .date select:first-child,
.add-user select#UserRole{
    margin-left: 25%;
}
.add-user img{
    margin-left: 25%;
    margin-top: 15px;
}

.add-user form label{
    margin-left: 25%;
}
.add-user input#UserUsername,
.add-user input#UserPassword{
    margin-left: 25%;
    width: 50%;
}

.add-user form input {
    width: 50%;
    padding: 10px;
    margin-left: 25%;
}

.add-user form {
    width: 100%;
    margin: 0 auto;
}

.add-user form button {
    text-align: center;
    margin: 20px auto;
    margin-left: 25%;
    margin-bottom: 2em;
}

.add-user form legend {
    font-size: 2em;
    color: #db9b68;
}

.form-group {
    margin-top: 1em;
}

.form-group a:last-child {
    float: right;
}

.btn-login {
    width: 100%;
    margin-top: 1em;
    text-align: center;
}

.btn-login button {
    width: 100px;
    font-size: 16px;
}

div#cartMessage {
    margin-top: 20px;
    color: green;
    font-weight: bold;
}

/*
*/
.prod-img .new {
    position: absolute;
    top: 0;
}

.prod-img .star {
    position: absolute;
    top: 0;
    right: 14px;
}

.prod-img .saleoff {
    background-color: #F74D36;
    height: 20px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 24px;;
    width: 51px;
}

.alert-cart td {
    text-align: center;
}

.alert {
    text-align: center;
    font-size: 20px;
    line-height: 55px;
    height: 55px;
    background-color: #faa;
    color: red;
}

/**************************************
* BEGIN FORM
*/

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="password"],
form textarea {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(186, 186, 186);
    border-radius: 1px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    display: block;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    transition: all 400ms ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="password"]:focus,
form textarea:focus,
form select:focus {
    border-color: #4195fc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
}

form input[type="text"]:invalid:focus,
form input[type="email"]:invalid:focus,
form input[type="number"]:invalid:focus,
form input[type="search"]:invalid:focus,
form input[type="password"]:invalid:focus,
form textarea:invalid:focus,
form select:invalid:focus {
    border-color: rgb(248, 66, 66);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248, 66, 66);
}

input#UserUsername,
input#UserPassword {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
}

/*
* END FORM
**************************************/

/**************************************
* BEGIN PAGING
*/
.pagination {
    clear: both;
    height: 50px;
    background: #f3f3f3;
    margin-bottom: 60px;
    padding: 0 25px;
    line-height: 50px;
}

.pagination .pr_paginator {
    display: inline-block;
    float: right;
    line-height: 50px;
}

.pagination .pr_paginator span {
    padding-left: 25px;
}

.pagination .pr_paginator a {
    color: black;
}

.pagination .pr_paginator .current {
    color: #CA8B5A;
}

.page-sort{
    margin-bottom: 30px;
}
.page-sort i{
    margin-left: 5px;
    color: #999999;
}
.page-sort i .active{
    color: #000000;
}
.filter-l{
    width: 50%;
    height: 50px;
    float: left;
}
.filter-r{
    float: left;
    width: 50%;
    height: 50px;
}
.filter-r form{
    float: right;
}
.filter-r div.input.select{
    float: left;
    color: #f3f3f3;
    font-family: 'Cambria';
    font-size: 16px;

}
.filter-r div.input.select:last-child{
    margin-left: 70px;
}
select.first-select,
select.last-select{
	font-family: 'Cambria';
	font-size: 16px;
}
.filter-r label{
    margin: 0;
    padding: 0;
    float: left;
    font-size: 16px;

}
.filter-r select{
    line-height: 50px;
    float: left;
    margin: 11px 0 0 20px;
    padding-left: 5px;
    width: 73px;
    height: 28px;
    color: #666;
    border-color: #666;
}
.filter-r .last-select{
    text-transform: capitalize;
    width: 140px;
}
/*
* END PAGING
**************************************//*
* START TESTiMONIALS
**************************************/





/*
* END TESTiMONIALS
**************************************/
.product-prices{
    border: 0;
    font-weight: bold;
    text-align: center; 
}
.column3 input{
    color: #000;
    font-weight: normal;
    text-align: center; 
    font-size: 18px;
    font-family: inherit;
}