<div class="container content">
		<div class="productadd">
			<dl>
                                <dt><h3><?php echo __('Code :'); ?></h3></dt>
				<dd>
                                    <h3><b><?php echo $coupons['Coupon']['code']; ?></b></h3>
					&nbsp;
				</dd>
				<dt><?php echo __('Percent :'); ?></dt>
				<dd>
					<?php echo $coupons['Coupon']['percent']; ?>
					&nbsp;
				</dd>
				<dt><?php echo __('Description :'); ?></dt>
				<dd>
					<?php echo $coupons['Coupon']['description']; ?>
					&nbsp;
				</dd>
				<dt><?php echo __('Time Start :'); ?></dt>
				<dd>
					<?php echo $coupons['Coupon']['time_start']; ?>
					&nbsp;
				</dd>
				<dt><?php echo __('Time End :'); ?></dt>
				<dd>
					<?php echo $coupons['Coupon']['time_end']; ?>
					&nbsp;
				</dd>
                                <dd ><a href="/admin/coupons/edit/<?php echo $coupons['Coupon']['id']; ?>" class="edit_view">Edit</a></dd>

			</dl>
		</div>
</div>





