<legend><?php echo __('Edit Coupon'); ?></legend>
<div class="edit">
    <article class="col-sm-9">
        <div class="Users form">
            <h3>Edit FAQ</h3>
            <?php
            echo $this->Form->create('Faq');
            echo $this->Form->input('question');
            echo $this->Form->input('answer');
            echo $this->Form->input('approve');
            echo $this->Form->input('id', array('type' => 'hidden'));
            echo $this->Form->end('Save');
            ?>
        </div>
    </article>

</div>